<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <div class="container-retro">
            <nav id="retro-nav"></nav>
            <main id="retro-main"></main>
        </div>
        <div class="container-content-app">
            <aside class="container-profiles">
                <div class="user-profile-bar">
                    <div class="user-img-name">
                        <img id="img-io" src="img/avatar_io.jpg" alt="mine-img">
                        <span id="user-name">Sofia</span>
                    </div>
                    <div class="container-user-icon">
                        <i class="fa-solid fa-circle-notch fa-lg" style="color: #a1a1a1;"></i>                        
                        <i class="fa-solid fa-message fa-lg" style="color: #a7a7a7;"></i>
                        <i class="fa-solid fa-ellipsis-vertical fa-lg" style="color: #bfbfbf;"></i>
                    </div>
                </div>
                <div class="container-bell-bar">
                    <div class="container-bell">
                        <i class="fa-solid fa-bell-slash fa-lg" style="color: #8edafc;"></i>
                    </div>
                    <div class="container-bell-text">
                       <p class="bell-text">
                            Ricevi notifiche di nuovi messaggi
                       </p>
                       <p class="active-notification">
                            Attiva le notifiche su desktop
                       </p> 
                    </div>
                </div>
                <div class="container-chat-search-bar">
                    <div class="container-icon-chat-search-bar">
                        <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ababab;"></i>
                    </div>
                    <input class="chat-search" v-model="search" @keyup.enter="" type="text" id="" placeholder="Cerca o inizia una nuova chat">
                </div>
                <div class="container-contact">
                    <ul class="contact-list">
                        <li v-for="(contact, index) in contacts" :key="index"  @click="selectedContact(index)" class="contact" >
                            <img class="img-contact" :src="contacts[index].avatar" alt="">
                            <div class="container-name">
                                <span class="contact-name">{{ contacts[index].name }}</span>
                            </div>    
                        </li>
                    </ul>
                </div>
            </aside>
            <section class="container-current-contact-messages">
                <div class="current-contact-messages-bar" >
                    <div class="contact-img-name">
                        <img class="current-contact-messages-img" :src="contacts[activeContact].avatar" alt="">
                        <span class="contact-name">{{ contacts[activeContact].name }}</span>
                    </div>
                    <div class="icon-contact-messages-bar">
                        <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ababab;"></i>                        
                        <i class="fa-solid fa-paperclip fa-lg" style="color: #ababab;"></i>                        
                        <i class="fa-solid fa-ellipsis-vertical fa-lg" style="color: #bfbfbf;"></i>
                    </div>
                </div>
                <div class="container-chat">
                    <div v-for="message in contacts[activeContact].messages">
                        <div class="message received" v-if="message.status === 'received'">{{ message.message }}</div>
                        <div class="message sent" v-else>{{ message.message }}</div>
                    </div>
                </div>
                <div class="container-input-chat">
                    <div class="icon-input-chat">
                        <i class="fa-regular fa-face-laugh fa-lg" style="color: #a1a1a1;"></i>
                    </div>
                    <input class="new-message-sent" v-model="contacts[activeContact].newMessage" @keyup.enter="addMessage" type="text" name="new-message-sent" id="" placeholder="Scrivi un nuovo messaggio">
                    <div class="icon-input-chat"> 
                        <i class="fa-solid fa-microphone fa-lg" style="color: #a1a1a1;"></i>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>